/* BIG*/
@media only screen and (min-height: 1080px) {
  .modal2 {
    padding-top: 60px;
  }

  .modal2-content {
    max-height: 850px;
  }

  #caption {
    font-size: 1.5em;
    height: 50px;
  }

  .close {
    z-index: 3;
    position: absolute;
    top: 20px;
    right: 130px;
    font-size: 40px;
  }

  .navbar-brand {
    font-size: 2.6em !important;
  }

  .navbar-brand > img {
    width: 40px;
  }

  .nav-link {
    font-size: 1.8em;
  }

  .carousel-item {
    height: 670px;
  }

  .carousel-indicators {
    top: 675px;
  }

  .gal-image>img {
    height: 470px;
}

  .title,
  .title2 {
    font-size: 3.8em;
  }

  .game-title {
    font-size: 2.2em;
  }

  .play-button{
    font-size: 1.8em;
  }

  .game-desc {
    font-size: 1.6em;
  }

  .game1 > video,
  .game2 > video {
    height: 420px;
  }

  .video {
    height: 420px;
  }

  .video2 {
    height: 510px;
  }

  .preview-video {
    width: 7vh;
    height: 7vh;
  }
  .logo-footer {
    width: 32px;
    height: 32px;
  }

  .name {
    font-size: 1.8em;
  }

  .portfolio-name,
  .portfolio-year {
    font-size: 1.3em;
  }
}

/* MEDIUM */
@media only screen and (max-width: 1368px) {
  body {

    background-size: 103% !important;
  }

  .video2,
  .wraper {
    width: 97%;
  }

  .preview-video {
    width: 7.5vh;
    height: 7.5vh;
  }
}

/* SMALL */
@media only screen and (max-width: 768px) {
  .container-fluid {
    padding: 0% 6% 0% 6% !important;
  }

  body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif !important;
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1645223877/Portfolio%20UI/Fondo-movil2_s3tsqp.png);
    background-size: 100% ;
  }

  .nav-flex {
    width: 100%;
    justify-content: space-around;
  }

  .navbar-brand {
    font-size: 1.2em !important;
  }

  .navbar-brand > img {
    width: 20px;
  }

  .navbar-toggler {
    border: 0px !important; 
    color: transparent !important;
  }

  .nav-item{
    background-color: #e95ea183;
    border-radius: 7px;
    margin-bottom: 5px;
  }

  .nav-item:hover{
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 7px;
  }

  .nav-link{
    color: #ffffff  !important;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 70%);
  }

  .nav-link:hover{
    color: #5c0731  !important;
  }

  .navbar-toggler-icon {
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1638043442/Portfolio%20UI/toggle_izfd5g.png) !important;
  }

  .title,
  .title2 {
    font-size: 1.9em;
  }

  .title2 {
    margin-top: 50px;
  }

  .line,
  .line2 {
    width: 24%;
  }

  .carousel-indicators {
    top: 250px;
  }

  .carousel-labels {
    margin-right: 5px !important;
  }

  .carousel-control-prev {
    left: -10px !important;
  }

  .carousel-control-next {
    right: -10px !important;
  }


  .carousel-inner {
    border-radius: 7px;
  }

  .carousel-item {
    height: 250px;
    width: 100%;
  }

  .videojuegos {
    flex-direction: column;
  }

  .game1,
  .game2 {
    display: inherit;
    flex-direction: column;
    width: 100%;
  }

  .game1 {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .game1 > video,
  .game2 > video {
    border-radius: 7px;
  }

  .video {
    height: 205px;
    border-radius: 7px;
  }

  .game-title {
    font-size: 1.25em;
  }

  .game-desc {
    color: #25141ce8;
    font-weight: 400;
    font-size: 1.15em;
}

  .video2 {
    width: 100%;
    height: 205px;
    border-radius: 7px;
    margin-bottom: 5px;
  }

  .preview-video {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  /*MODAL*/
  .modal2 {
    padding-top: 30%;
  }

  .modal2-content {
    max-width: 370px;
    max-height: 600px;
  }

  /* Close Button */
  .close {
    top: 5px;
    right: 15px;
    font-size: 35px;
  }

  .modelos3d {
    margin-bottom: 50px;
  }

  .modelos{
    flex-direction: column;
  }

  
.gallery {
 flex-wrap: wrap;
}

  .gal-image {
    width: 45.6%;
    margin: 7px;
  }
  
  .gal-image>img {
    width: 100%;
    height: 250px;
  }

  .model-gallery,
  .model-gallery2 {
    width: 100%;
    margin: 0px 0px 9px 0px;
  }

  .model-gallery > img,
  .model-gallery2 > img {
    height: 18vh;
    border-radius: 8px;
  }

  .footer {
    height: 100px;
  }

  .footer-line {
    margin-top: -2px;
    height: 9px;
  }

  .line-footer {
    width: 20%;
  }

  .logo-footer {
    margin-top: 5px;
    width: 16px;
    height: 16px;
  }

  .name {
    font-size: 1em;
  }

  .portfolio-name,
  .portfolio-year {
    font-size: 0.8em;
  }
}
